# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/inspectionProfiles/
.idea/jQuery-menu-aim.iml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
