/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body, html { font-size: 100%;   padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.container > header,
.container > main {
  width: 90%;
  max-width: 70em;
  margin: 0 auto;
  padding: 1em 1.5em;
}

.container > header h1 {
  font-size: 2.125em;
  line-height: 1.3;
  margin: 0;
  /*float: left;*/
  font-weight: 400;
}

.container > header span {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 0 0 0.6em 0.1em;
}
